{% load static wagtailcore_tags wagtailimages_tags %}

<div class="container mx-auto bg-gray-100 text-black px-4 py-10 xl:px-20 mt-24">

  <div class="flex flex-col xl:flex-row xl:gap-10">

    <!-- TEXT -->
    <div class="w-full xl:w-1/2">

      <h2 class="text-3xl xl:text-5xl font-bold mb-6">
        {{ page.about_title }}
      </h2>

      <div class="cms-page">
        {{ page.about_content|richtext }}
      </div>

      <div class="pt-6">
        <a href="/admissions/english-language-center/why-ozford-english-language/" class="inline-flex items-center gap-2 px-4 py-2 text-lg text-white bg-link-primary hover:bg-link-primary-hover transition-all">
          <span>Learn more</span>
        </a>
      </div>

    </div>

    <!-- IMAGE -->
    <div class="w-full xl:w-1/2">
      {% image page.about_image original class="w-full h-auto" %}
    </div>

  </div>

</div>
