@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .cms-page p {
    margin-bottom: 0.5rem !important;
  }

  .cms-page.no-margin-p p {
    margin-bottom: 0 !important;
  }
  .cms-page a {
    color: #005c90 !important;
  }
}
