@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Noto Serif", serif;
  }
}
@layer utilities {
  .cms-page p {
    margin-bottom: 0.5rem !important;
  }

  .cms-page.no-margin-p p {
    margin-bottom: 0 !important;
  }
  .cms-page a {
    color: #005c90 !important;
  }
  .cms-page ul, ul.list-disc {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  .cms-page ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

}
