@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    body {
        font-family: "Poppins", sans-serif;
    }
}
@layer utilities 
    {.cms-page p {
    margin-bottom: 0.5rem !important;
    }
}
