@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Noto Serif", serif; */
    font-family: "Manrope", serif;
  }

  h1, h2, h3, h4, h5, h6, .text-heading {   
    font-family: "Nohemi", serif;
  }
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);
  }

  .cms-page p, .cms-page-bg p {
    margin-bottom: 0.5rem !important;
  }

  .cms-page.no-margin-p p, .cms-page-bg.no-margin-p p {
    margin-bottom: 0 !important;
  }

  .cms-page a {
    color: #1a305b !important;
  }

  .cms-page .faq a {
    text-decoration: underline;
  }

  .cms-page .faq h3 {
    @apply text-xl font-semibold;
  }

  .cms-page-bg a {
    color: #a8dbf8 !important;
    text-decoration: underline;
  }

  .cms-page ul, .cms-page-bg ul, ul.list-disc {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.25rem;
  }

  .cms-page ul.list-none {
    list-style-type: none !important;
    padding-left: 0;
  }

  .cms-page ol, .cms-page-bg ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  /* ========================= */
  /* 🔥 FIX NAVBAR OVERLAP 🔥 */
  /* ========================= */

  header,
  nav {
    position: relative;
    z-index: 9999;
  }

  [aria-label="Course Banner"] {
    position: relative;
    z-index: 0;
  }
}
