{% load static wagtailcore_tags wagtailimages_tags %}
<section class="container mx-auto text-black px-4 py-6 lg:py-8 xl:py-20 xl:px-20">
    <h2 class="text-3xl xl:text-5xl font-bold mb-4 lg:mb-8 xl:mb-10 text-center">Latest News &amp; Events</h2>
    <div class="grid grid-cols-1 gap-8 sm:gap-20 lg:grid-cols-3">
      {% for item in blog_posts  %}
            <a href="{% pageurl item %}" class="flex flex-col group">
                <div class="bg-white border border-primary rounded-lg shadow-md overflow-hidden p-4 lg:p-6 xl:p-8 group-hover:shadow-2xl transition-all duration-300 lg:min-h-[22rem]">
                <div class="w-full h-48 mb-4 rounded-xl overflow-hidden">
                    {% image item.featured_image original class="w-full h-auto object-cover overflow-hidden transition-transform duration-300 transform group-hover:scale-110" %}
                </div>
                <p class="group-hover:text-primary mb-2 font-semibold">{{ item.title }}</p>
                <p class="text-sm text-gray-500">{{ item.published_date|date:'F d, Y' }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="mt-4 lg:mt-6 xl:mt-10 flex justify-center text-center">
        <a href="/news-and-events/" class="flex items-center gap-2 px-4 py-2 rounded-none leading-loose tracking-wider text-lg text-white bg-link-primary hover:bg-link-primary-hover transition-all">
            <span>More News and Events</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>
                  
            </span>
          </a>
    </div>
</section>