<section class="container mx-auto text-black px-4 py-6 lg:py-8 xl:py-20 xl:px-20">

    <h2 class="text-3xl xl:text-5xl font-bold mb-4 lg:mb-8 xl:mb-10 text-center">Latest News & Events</h2>
    <div class="grid grid-cols-1 gap-8 sm:gap-20 lg:grid-cols-3">
       <a href="#" class="flex flex-col group">
        <div class="bg-white border border-primary rounded-lg shadow-md overflow-hidden p-4 lg:p-6 xl:p-8 group-hover:shadow-2xl transition-all duration-300 lg:min-h-[22rem]">
        <div class="w-full h-48 mb-4 rounded-xl overflow-hidden">
          <img src="/img/news-1.webp" alt="" class="w-full h-auto object-cover overflow-hidden transition-transform duration-300 transform group-hover:scale-110" />
        </div>
          <p class="group-hover:text-primary mb-3 font-bold">Gen Z Entering Adulthood</p>
          <p class="text-sm text-gray-500">October 28, 2024</p>
        </div>
       </a>
       <a href="#" class="flex flex-col group">
        <div class="bg-white border border-primary rounded-lg shadow-md overflow-hidden p-4 lg:p-6 xl:p-8 group-hover:shadow-2xl transition-all duration-300 lg:min-h-[22rem]">
        <div class="w-full h-48 mb-4 rounded-xl overflow-hidden">
          <img src="/img/news-2.webp" alt="" class="w-full h-auto object-cover overflow-hidden transition-transform duration-300 transform group-hover:scale-110" />
        </div>
          <p class="group-hover:text-primary mb-3 font-bold leading-tight">Melbourne, the Best Student City in Australia</p>
          <p class="text-sm text-gray-500">July 25, 2024</p>
        </div>
       </a>
       <a href="#" class="flex flex-col group">
        <div class="bg-white border border-primary rounded-lg shadow-md overflow-hidden p-4 lg:p-6 xl:p-8 group-hover:shadow-2xl transition-all duration-300 lg:min-h-[22rem]">
        <div class="w-full h-48 mb-4 rounded-xl overflow-hidden">
          <img src="/img/news-3.webp" alt="" class="w-full h-auto object-cover overflow-hidden transition-transform duration-300 transform group-hover:scale-110" />
        </div>
          <p class="group-hover:text-primary mb-3 font-bold">Euro Cup 2024</p>
          <p class="text-sm text-gray-500">July 18, 2024</p>
        </div>
       </a>
       
      
    </div>
    <div class="mt-4 lg:mt-6 xl:mt-10 text-center">
        <button class="flex items-center gap-2 px-4 py-2 rounded-none leading-loose tracking-wider text-lg text-white bg-link-primary hover:bg-link-primary-hover transition-all">
            <span>More News and Events</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>
                  
            </span>
        </button>
    </div>
</section>