<div class="w-full">
    <div class="container mx-auto px-4 py-10 xl:py-20 bg-primary-darker text-white">
      
      <div class="max-w-5xl mx-auto">
        <h2 class="text-3xl lg:text-5xl font-bold mb-3 lg:mb-6 xl:mb-8">
            Ready to Study at OZFORD?
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-xl font-light">
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Fees</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Key Dates</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">How to Apply</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Scholarships</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Domestic Students</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">International Students</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Academic Requirements</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">English Entry Requirements</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Accomodation</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
        <div class="flex items-center gap-4">
          <a href="" class="text-white border-b border-transparent hover:border-white transition-all">Overseas Student Health Cover</a>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
      </div>
    </div>
    </div>
    
  </div>