<div class="w-full">
    <div class="container mx-auto px-4 py-10 xl:py-20">
      <div class="flex flex-col lg:flex-row justify-between gap-4 lg:gap-20">
        <div class="w-full lg:w-1/2">
          <h2 class="text-3xl lg:text-5xl font-bold mb-2 lg:mb-3">
            Find Courses
          </h2>
          <p class="font-light text-xl text-gray-800">Explore your potential with ozford with a full range of courses from High School to the Higher Education sector.</p>
          <ul class="mt-2 xl:mt-3 space-y-2">
            <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Postgraduate</a></li>
            <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Undergraduate</a></li>
            <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">High School (Year 10-12)</a></li>
            <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">English Language Center</a></li>
          </ul>
        </div>
        <div class="w-full lg:w-1/2">
            <div class="max-w-xl">
              <div class="relative z-0 flex">
                <input type="url" id="example8" class="block p-4 w-full rounded-full rounded-r-none border border-link-primary" placeholder="Search Courses" />
                <button for="example8" class="rounded-full rounded-l-none -ml-2 border border-l-0 border-link-primary px-6 bg-link-primary text-white hover:bg-link-primary-hover hover:border-link-primary-hover transition-all">
                  Search
                </button>
              </div>
            </div>
            <div class="mt-3 xl:mt-6">
              <h3 class="font-medium text-2xl">Popular Courses</h3>
              <div class="grid grid-cols-1 xl:grid-cols-2 mt-2 xl:space-x-4">
                <ul class="space-y-1">
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Master of Information Technology (MIT)</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Master of Business Admistration (MBA)</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Master of Professional Accounting (MPA)</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Graduate Diploma in Information Technolgy</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Graduate Diploma in Management</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Graduate Certificate in Information Technolgy</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Graduate Certificate in Management</a></li>
                </ul>
                <ul class="space-y-1">
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Bachelor of Cyber Security</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Bachelor of Information System</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Bachelor of Business (Accounting)</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Bachelor of Business</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Diploma of Business</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Year 10 High School Program</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">Victorian Certificate of Education (VCE)</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">General English</a></li>
                  <li><a href="" class="text-link-primary hover:text-link-primary-hover hover:border-b hover:border-link-primary-hover transition-all">English for Academic Purposes (EAP)</a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>