<div class="w-full shadow-md text-primary xl:text-xl bg-primary">
    <div class="container mx-auto px-4">
      <div class="flex flex-col xl:flex-row xl:justify-center xl:items-center">
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark xl:border-r xl:border-r-primary-dark hover:bg-primary-dark">International Student</a>
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark xl:border-r xl:border-r-primary-dark hover:bg-primary-dark">For Agent</a>
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark xl:border-r xl:border-r-primary-dark hover:bg-primary-dark">How to Apply</a>
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark xl:border-r xl:border-r-primary-dark hover:bg-primary-dark">Entry Requirements</a>
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark xl:border-r xl:border-r-primary-dark hover:bg-primary-dark">Fees</a>
        <a href="" class="bg-primary text-white py-4 px-6 transition-all border-b xl:border-b-0 border-b-primary-dark hover:bg-primary-dark">Key Dates</a>
      </div>
    </div>
  </div>