<section class="container mx-auto max-w-6xl px-4 py-6 lg:py-8 xl:py-20 xl:px-20">
    <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2">
    <!-- Image -->
    <img src="/img/testimonial.webp" alt="" class="inline-block h-full w-full max-w-sm object-cover" />
    <!-- Content -->
    <div class="sm:max-w-sm md:max-w-md lg:max-w-lg">
      <h2 class="text-3xl lg:text-5xl font-bold mb-3 lg:mb-6 xl:mb-8">
          Success Stories
    </h2>
      <p class="mb-3 max-w-md">"Hello, I am Yuki and I come from Hong Kong. I have been in Australia for more than 2 years. I like the Australia’s lifestyle.</p>
        <p class="mb-3 max-w-md">I have been studying at Ozford for 6 months and I am very happy and enjoying study atmosphere and facilities, such as free Wifi, Library and computers at Ozford.  ” <a class="text-primary hover:border-b hover:border-b-primary" href="#">Read more..</a>
      </p>
      <p class="font-bold">Yuk Yin Chan</p>
      <p class="text-sm text-gray-500">Hong Kong</p>
      <p class="text-sm text-gray-500 mb-4 lg:mb-8">Bachelor of Business (Accounting)</p>
      <div>
        <button class="flex items-center gap-2 px-4 py-2 rounded-none leading-loose tracking-wider text-lg text-white bg-link-primary hover:bg-link-primary-hover transition-all">
            <span>Read more success stories</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>
                  
            </span>
        </button>
      </div>
    </div>
  </div>
  </section>
</template>