<section class="container mx-auto px-4 py-10 xl:py-20">
  <h2 class="w-full mx-auto text-center text-3xl lg:text-5xl font-bold mb-3 lg:mb-6 xl:mb-8">Birthing of TNE with Inti International University</h2>
<div 
    x-data="youtubePlayer()" 
    x-init="init()" 
    class="relative container mx-auto w-full overflow-hidden bg-black"
>
  <div class="aspect-video w-full">
    <iframe 
      id="yt-player"
      class="w-full h-full"
      src="https://www.youtube.com/embed/mdGk1mhH6Jo?enablejsapi=1&rel=0&mute=1&playsinline=1"
      title="YouTube video player"
      frameborder="0"
      allow="autoplay; encrypted-media"
      referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen
    ></iframe>
  </div>
</div>
</section>

{% comment %} <iframe 
      id="yt-player"
      class="w-full h-full" 
      src="https://www.youtube.com/embed/mdGk1mhH6Jo?si=4O30gC9vtOjUeIef?enablejsapi=1&rel=0&mute=1&playsinline=1" 
      title="YouTube video player" 
      frameborder="0" 
      allow="autoplay; encrypted-media" 
      referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen>
    </iframe> {% endcomment %}