<section class="container mx-auto px-4 py-10 xl:py-20">
  <h2 class="w-full mx-auto text-center text-3xl lg:text-5xl font-bold mb-3 lg:mb-6 xl:mb-8">
    Global Collaboration with Inti International University, Malaysia
  </h2>

  <div class="relative container mx-auto w-full overflow-hidden bg-black">
    <div class="aspect-video w-full">
      <img
        src="https://res.cloudinary.com/dtpz8iptk/image/upload/v1772605723/WhatsApp_Image_2026-03-04_at_11.47.53_AM_b2ctao.jpg"
        alt="Global Collaboration with Inti International University, Malaysia"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>
  </div>
</section>
