DJANGO_ENV=development
DEBUG=on
ALLOWED_HOSTS=*
SECRET_KEY='z6wma2u0ojgm7jez3))ug3$9sou8@vsdfg4!#j$@#nv_bs87iue1'
DB_NAME=db_name
DB_USER=db_admin
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432