{% load static wagtailcore_tags wagtailimages_tags %}
<div class="w-full hidden lg:block shadow-lg">
  {% comment %} <div x-show="studentType" class="fixed z-[99] top-0 w-full flex items-center bg-yellow-300 h-[30px] text-sm font-semibold" x-cloak >
    <div class="container flex justify-center items-center">
        <p>You are viewing information for</p>&nbsp;
        <button 
            @click="showGlobalStudentTypeModal = true" 
            class="underline"
            x-text="studentType === 'domestic' ? 'Domestic Students' : 'International Students'">
        </button>
    </div> {% endcomment %}
</div>
    <div class="w-full bg-primary-dark py-3 text-sm text-white font-light">
      <div class="container">
        <ul class="w-full justify-end flex gap-4 items-center">
          <li><a href="" class="border-b border-transparent hover:border-white transition-all">Agent Resources</a></li>
          <li><a href="" class="border-b border-transparent hover:border-white transition-all">Current Students</a></li>
          <li><a href="" class="border-b border-transparent hover:border-white transition-all">Alumuni</a></li>
          <li><a href="https://selfservice.ozford.edu.au:9251/" class="border-b border-transparent hover:border-white transition-all">Staffs</a></li>
          <li><a href="/news-and-events/" class="border-b border-transparent hover:border-white transition-all">News &amp; Events</a></li>
          <li><a href="/about/contact-us/" class="border-b border-transparent hover:border-white transition-all">Contact</a></li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
              
          </li>
        </ul>
      </div>
    </div>
    
    <nav>
          <div class="container">

              <div class="flex justify-between items-center h-20">
                  <!-- Logo -->
                  <div>
                    <a href="/" aria-label="homepage">
                      {% image site_settings.header_logo original loading="lazy" class="w-48 h-auto"  %}
                    </a>
                  </div>
  
                  <!-- Desktop Menu -->
                  <div class="flex">
                      <div class="flex items-center">
                          <!-- Simple Link -->
                            {% comment %} <a href="/" class="text-gray-700 flex h-20 items-center hover:text-primary hover:bg-gray-200 px-3">Home</a> {% endcomment %}

  
                          {% comment %} {% include "navbar/desktop_partial/study.html" %}
                          {% include "navbar/desktop_partial/student_services.html" %} {% endcomment %}
                          {% include "navbar/desktop_partials/menu.html" %}
  
                          <!-- About Link -->
                          {% comment %} <a href="#" class="text-gray-700 flex h-20 items-center hover:text-primary hover:bg-gray-200 px-3">About</a>
  
                          <!-- Contact Link -->
                          <a href="#" class="text-gray-700 flex h-20 items-center hover:text-primary hover:bg-gray-200 px-3">Contact</a> {% endcomment %}
                      </div>
                  </div>
              </div>
            </div>
      </nav>
  </div>