{% load static wagtailcore_tags wagtailimages_tags %}
<div class="relative h-[300px] w-full overflow-hidden">
    {% if page.banner_image %}
        {% image page.banner_image width-500 as tmp_photo %}
        <!-- Background image -->
        <div 
            class="absolute inset-0 bg-cover bg-center bg-no-repeat"
            style="background-image: url('{{tmp_photo.full_url}}')"
        ></div>
    {% else %}
        <div 
            class="absolute inset-0 bg-orange-400"
        ></div>
    {% endif %}
   
    
    <!-- Red overlay with diagonal clip -->
    <div class="absolute inset-0 bg-primary clip-diagonal"></div>
    
    <!-- Text content -->
    <div class="relative h-full flex items-center">
        <div class="container mx-auto px-6">
            <h1 class="text-white text-5xl font-bold max-w-md leading-tight">
                
                {{ page.page_title }}
            </h1>
        </div>
    </div>
</div>