{% comment %} <div class="hidden lg:flex flex-col lg:w-2/12 h-full bg-white space-y-3 font-medium text-sm border-x border-gray-200 mt-4 lg:mt-8">
    
    <hr>
    <a href="#course_overview" class="text-primary px-4 hover:underline transition-all">Key Facts</a>
    <hr>
    <a href="#course_overview" class="text-primary px-4">Course Overview</a>
    <hr>
    <a href="#academic_requirements" class="text-primary px-4 hover:underline transition-all">Academic Requirements</a>
    <hr>
    <a href="#language_requirements" class="text-primary px-4 hover:underline transition-all">Language Requirements</a>
    <hr>
    <a href="#age_requirements" class="text-primary px-4 hover:underline transition-all">Age Requirements</a>
    <hr>
    <a href="#career_outcomes" class="text-primary px-4 hover:underline transition-all">Career Outcomes</a>
    <hr>
    <a href="#course_requirements" class="text-primary px-4 hover:underline transition-all">Course Requirements</a>
    <hr>
    <a href="#course_units" class="text-primary px-4 hover:underline transition-all">Course Units</a>
    <hr>
    {% if page.student_workload %}<a href="#student_workload" class="text-primary px-4 hover:underline transition-all">Student Workload</a><hr>{% endif %}
    
    {% if page.pathways %}<a href="#pathways" class="text-primary px-4 hover:underline transition-all">Pathways</a> <hr>{% endif %}
    {% if page.assessment_methods %}<a href="#assessment_methods" class="text-primary px-4 hover:underline transition-all">Assessment Methods</a> <hr>{% endif %}
    <a href="#student_information" class="text-primary px-4 hover:underline transition-all">Student Information</a> <hr>
</div> {% endcomment %}



<ul class="border border-gray-200">
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#student_type" class="block px-4 py-2 text-primary hover:underline transition-all">Student Type</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#key_facts" class="block px-4 py-2 text-primary hover:underline transition-all">Key Facts</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#course_overview" class="block px-4 py-2 text-primary hover:underline transition-all">Course Overview</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#academic_requirements" class="block px-4 py-2 text-primary hover:underline transition-all">Academic Requirements</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#language_requirements" class="block px-4 py-2 text-primary hover:underline transition-all">Language Requirements</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#age_requirements" class="block px-4 py-2 text-primary hover:underline transition-all">Age Requirements</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#career_outcomes" class="block px-4 py-2 text-primary hover:underline transition-all">Career Outcomes</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#course_requirements" class="block px-4 py-2 text-primary hover:underline transition-all">Course Requirements</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#course_units" class="block px-4 py-2 text-primary hover:underline transition-all">Course Structure</a>
    </li>
    {% if page.student_workload %}
        <li class="border-b border-gray-200 last:border-b-0">
            <a href="#student_workload" class="block px-4 py-2 text-primary hover:underline transition-all">Student Workload</a>
        </li>
    {% endif %}
    {% if page.pathways %}
        <li class="border-b border-gray-200 last:border-b-0">
            <a href="#pathways" class="block px-4 py-2 text-primary hover:underline transition-all">Pathways</a>
        </li>
    {% endif %}
    {% if page.assessment_methods %}
        <li class="border-b border-gray-200 last:border-b-0">
            <a href="#assessment_methods" class="block px-4 py-2 text-primary hover:underline transition-all">Assessment Methods</a>
        </li>
    {% endif %}
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#student_information" class="block px-4 py-2 text-primary hover:underline transition-all">Student Information</a>
    </li>
</ul>



