{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% block breadcrumb %}
        {% include 'breadcrumb.html' %}
    {% endblock breadcrumb %}
    {% block banner %}
        {% include 'components/banner.html' %}
    {% endblock banner %}
    <div class="container mx-auto mb-10 w-full">
        <div class="mt-4 lg:mt-6 xl:mt-10">
            {% block main_content %}{% endblock main_content %}
        </div>
    </div>
{% endblock content %}

