<div class="w-full divide-y divide-neutral-300 overflow-hidden rounded-md border border-neutral-300">

    {% if page.course_units %}
        {% for course_unit in page.course_units %}

            {% if course_unit.value and course_unit.value.units %}
                {% for unit in course_unit.value.units %}

                    <div class="p-4 border-b">
                        <strong>
                            {{ unit.unit_title|default:"Unit" }}
                        </strong>

                        {% if unit.unit_description %}
                            <div>
                                {{ unit.unit_description }}
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endif %}

</div>
