{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block script_top %}
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
{% endblock %}
{% block header_html %}
{% include 'student_type_modal/student_type_modal.html' %}
{% endblock %}
{% block content %}

  {% include 'breadcrumb.html' %}
<div x-data="{domestic: false, studentTypeModalOpen: false }" class="break-all overflow-hidden">
    {% include "courses/higher_education/banner.html" %}
    <div class="flex flex-col lg:flex-row lg:justify-between lg:gap-8 container">
        <div class="hidden lg:block sticky lg:top-4 w-full lg:w-2/12 lg:h-full bg-white font-medium text-sm mt-8">
            {% include "courses/components/higher_ed_sidebar.html" %}
        </div>
        <div class="w-full lg:w-10/12 flex flex-col">
            <div class="my-2 lg:my-4 lg:mt-8">
                <div class="scroll-m-8" id="student_type">
               {% include "student_type_modal/student_type.html" %}
                </div>
            </div>
            <hr class="my-4">
            {% include "courses/higher_education/key_facts.html" %}
            {% if page.accreditation_logo %}
            <div class="container mt-4 md:mt-6 lg:mt-8 xl:mt-10">
                <div class="flex">
                {% picture page.accreditation_logo format-{avif,webp,jpeg} width-1504 height-80 class="inline-block w-full h-[60px] object-contain" %}
                </div>
            </div>
        {% endif %}
        <hr class="my-4 md:my-6 lg:my-8">
        <div>
            
            <div class="container text-gray-800">
                <div class="scroll-m-8" id="course_overview">
                    <h2 class="text-xl lg:text-2xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Course Overview</h2>
                    {{page.course_overview|richtext}}
                </div>
                <hr class="my-4 md:my-6 lg:my-8">
                {% include "courses/higher_education/academic_requirements.html" %}
                {% comment %} <div class="p-6 lg:p-8 xl:p-12 bg-gray-100 mt-4 lg:mt-8 xl:mt-12" id="course_requirements">
                    <h2 class="text-primary-dark font-semibold text-2xl mb-2">Course Requirements</h2>
                    {{page.course_requirement|richtext}}
                </div> {% endcomment %}
                {% comment %} <div class="scroll-m-8" id="entry_requirements">
                    <h2 class="text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Entry Requirements</h2>
                    <h2 class="text-primary-dark font-medium text-xl mb-2">Course Requirement</h2>
                    {{page.course_requirement|richtext}}
                    <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">Academic Entry Requirements</h2>
                    <template x-if="domestic">
                        <div>{{page.academic_requirement_domestic|richtext}}</div>
                    </template>
                    <template x-if="!domestic">
                        <div>{{page.academic_requirement_international|richtext}}</div>
                    </template>
                    <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">English Language Requirements</h2>
                    <template x-if="domestic">
                        <div>{{page.english_requirement_domestic|richtext}}</div>
                    </template>
                    <template x-if="!domestic">
                        <div>{{page.english_requirement_international|richtext}}</div>
                    </template>
                    <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">Age Requirement</h2>
                    {{page.age_requirement|richtext}}
                    
                </div> {% endcomment %}
                <hr class="my-4 md:my-6 lg:my-8">
                {% include "courses/higher_education/language_requirements.html" %}
                <hr class="my-4 md:my-6 lg:my-8">
                {% include "courses/higher_education/age_requirements.html" %}
                <hr class="my-4 md:my-6 lg:my-8">
                <div class="scroll-m-8" id="career_outcomes">
                    <h2 class="text-xl lg:text-2xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Career Outcomes</h2>
                    {{page.career_outcomes|richtext}}
                </div>
                <hr class="my-4 md:my-6 lg:my-8">
                {% include "courses/higher_education/course_requirements.html" %}
                <hr class="my-4 md:my-6 lg:my-8">
                {% include "courses/higher_education/course_units.html" %}
                <hr class="my-4 md:my-6 lg:my-8">
    
                {% if page.student_workload %}
                    <div class="scroll-m-8" id="student_workload">
                        <h2 class="text-xl lg:text-2xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Student Workload</h2>
                        {{page.student_workload|richtext}}
                    </div>
                    <hr class="my-4 md:my-6 lg:my-8">

                {% endif %}
                {% if page.pathways %}
                    <div class="scroll-m-8" id="pathways">
                        <h2 class="text-xl lg:text-2xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Pathways</h2>
                        {{page.pathways|richtext}}
                    </div>
                    <hr class="my-4 md:my-6 lg:my-8">

                {% endif %}
                <div class="scroll-m-8" id="assessment_methods">
                    <h2 class="text-xl lg:text-2xl mb-2 lg:mb-3 xl:mb-4 font-medium text-primary">Assessment Methods</h2>
                    {{page.assessment_methods|richtext}}
                </div>
                <hr class="my-4 md:my-6 lg:my-8">

                {% include "courses/course_page_footer.html" %} 
            </div>
        </div>
       {% comment %} {% include "courses/why_melbourne.html" %}  {% endcomment %}
        </div>

    </div> <!--endof main-->
    
   
    
    
</div>
{% endblock %}
{% block extra_js %}
{% include 'student_type_modal/student_type_cookie_script.html' %}
{% endblock %}
