{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block script_top %}
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}

  {% include 'breadcrumb.html' %}
  <div x-data="{domestic: false }">
    {% include "courses/higher_education/banner.html" %}
  <div class="bg-white py-4">
    <div class="container">
        <div class="flex gap-4 items-center font-semibold">
            <div class="flex gap-2 items-center">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-primary">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
                      </svg>
                      
                </div>
                <template x-if="domestic">
                    <div class="text-gray-700">Domestic Student</div>
                </template>
                <template x-if="!domestic">
                    <div class="text-gray-700">International Student</div>
                </template>
                <button class="text-primary" x-on:click="domestic=!domestic">change</button>
            </div>
        </div>
        
        
    </div>
  </div>
  {% include "courses/higher_education/key_facts.html" %}
  <div class="container bg-white py-4">
    {% if page.accreditation_logo %}
      <div class="flex">
          {% picture page.accreditation_logo format-{avif,webp,jpeg} width-1504 height-80 class="inline-block w-full h-[60px] object-contain" %}
        </div>
    {% endif %}
  </div>
  <div class="bg-primary-dark hidden lg:block sticky top-0 z-50">
    <div class="container py-4">
        <div class="flex gap-4 lg:gap-6 items-center text-center">
            <a href="#course_overview" class="text-white">Course Overview</a>
            {% comment %} <a href="#course_requirements" class="text-white">Course Requirements</a> {% endcomment %}
            <a href="#entry_requirements" class="text-white">Entry Requirements</a>
            {% comment %} <button class="text-white">Fees &amp; Scholarships</button> {% endcomment %}
            <a href="#career_outcomes" class="text-white">Career Outcomes</a>
            <a href="#course_units" class="text-white">Course Units</a>
            <a href="#assessment_methods" class="text-white">Assessment Methods</a>
            <a href="#student_information" class="text-white">Student Information</a>
        </div>
    </div>
</div>
<div class="bg-gray-100">
    <div class="container py-2 lg:py-8">
        <div class="p-6 lg:p-8 xl:p-12 bg-white scroll-m-8" id="course_overview">
            <h2 class="text-primary-dark font-semibold text-2xl mb-2">Course Overview</h2>
            {{page.course_overview|richtext}}
        </div>
        {% comment %} <div class="p-6 lg:p-8 xl:p-12 bg-gray-100 mt-4 lg:mt-8 xl:mt-12" id="course_requirements">
            <h2 class="text-primary-dark font-semibold text-2xl mb-2">Course Requirements</h2>
            {{page.course_requirement|richtext}}
        </div> {% endcomment %}
        <div class="p-6 lg:p-8 xl:p-12 bg-white mt-4 lg:mt-8 xl:mt-12 scroll-m-8" id="entry_requirements">
            <h2 class="text-primary-dark font-semibold text-2xl mb-2">Entry Requirements</h2>
            <h2 class="text-primary-dark font-medium text-xl mb-2">Course Requirement</h2>
            {{page.course_requirement|richtext}}
            <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">Academic Entry Requirements</h2>
            <template x-if="domestic">
                <div>{{page.academic_requirement_domestic|richtext}}</div>
            </template>
            <template x-if="!domestic">
                <div>{{page.academic_requirement_international|richtext}}</div>
            </template>
            <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">English Language Requirements</h2>
            <template x-if="domestic">
                <div>{{page.english_requirement_domestic|richtext}}</div>
            </template>
            <template x-if="!domestic">
                <div>{{page.english_requirement_international|richtext}}</div>
            </template>
            <h2 class="text-primary-dark font-medium text-xl mb-2 pt-4">Age Requirement</h2>
            {{page.age_requirement|richtext}}
            
        </div>
        <div class="p-6 lg:p-8 xl:p-12 bg-white mt-4 lg:mt-8 xl:mt-12 scroll-m-8" id="career_outcomes">
            <h2 class="text-primary-dark font-semibold text-base lg:text-xl mb-2">Career Outcomes</h2>
            {{page.career_outcomes|richtext}}
        </div>
        <div class="p-6 lg:p-8 xl:p-12 bg-white mt-4 lg:mt-8 xl:mt-12 scroll-m-8" id="course_units">
            <h2 class="text-primary-dark font-semibold text-base lg:text-xl mb-2">Course Units</h2>
            {% if page.core_units %}
                {% if page.ellective_units %}
                    <div x-data="{ selectedTab: 'core_units' }" class="w-full">
                        <div @keydown.right.prevent="$focus.wrap().next()" @keydown.left.prevent="$focus.wrap().previous()" class="flex gap-2 overflow-x-auto" role="tablist" aria-label="tab options">
                            <button @click="selectedTab = 'core_units'" :aria-selected="selectedTab === 'core_units'" :tabindex="selectedTab === 'core_units' ? '0' : '-1'" :class="selectedTab === 'core_units' ? 'font-medium text-xl text-primary border-b-2 border-primary' : 'text-primary-dark font-medium hover:border-b-2 hover:border-b-primary hover:text-primary'" class="h-min px-4 py-2 text-xl" type="button" role="tab" aria-controls="tabpanelCoreUnits" >Core Units</button>
                            <button @click="selectedTab = 'ellective_units'" :aria-selected="selectedTab === 'ellective_units'" :tabindex="selectedTab === 'ellective_units' ? '0' : '-1'" :class="selectedTab === 'ellective_units' ? 'font-medium text-xl text-primary border-b-2 border-primary' : 'text-primary-dark font-medium hover:border-b-2 hover:border-b-primary hover:text-primary'" class="h-min px-4 py-2 text-xl" type="button" role="tab" aria-controls="tabpanelEllectiveUnits" >Elective Units</button>
                        </div>
                        <div class="px-2 py-4">
                            <div x-show="selectedTab === 'core_units'" id="tabpanelCoreUnits" role="tabpanel" aria-label="core_units">
                                {% include "courses/course_units.html" with course_units=page.core_units %}
                            </div>
                            <div x-show="selectedTab === 'ellective_units'" id="tabpaneEllectiveUnits" role="tabpanel" aria-label="ellective_units">
                                {% include "courses/course_units.html" with course_units=page.ellective_units %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% include "courses/course_units.html" with course_units=page.core_units %}
                {% endif %}
            {% else %}
                
                    {{page.core_units_block|richtext}}

            {% endif %} 
            
        
        </div>
        <div class="p-6 lg:p-8 xl:p-12 bg-white mt-4 lg:mt-8 xl:mt-12 scroll-m-8" id="assessment_methods">
            <h2 class="text-primary-dark font-semibold text-2xl mb-2">Assessment Methods</h2>
            {{page.assessment_methods|richtext}}
        </div>
        {% include "courses/course_page_footer.html" %} 
    </div>
</div>
   {% comment %} {% include "courses/study_at_ozford.html" %}  {% endcomment %}
   {% include "courses/why_melbourne.html" %} 

  {% comment %} <section class="container mx-auto max-w-7xl text-black pb-6 lg:pb-8 xl:pb-20 mt-4 lg:mt-8 xl:mt-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-10 xl:gap-16">
      {% for item in degrees  %}
        <div class="block space-y-4 bg-gray-100 p-4 lg:p-6 xl:p-10">
          <h6>{{item.title}}</h6>
          <p>{{item.page_description|richtext}}</p>
        </div>
      {% endfor %}
    </div>

  </section> {% endcomment %}
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}
