
<div class="w-full">
  {% comment %} <div class="max-w-xl">
    <div class="relative z-0 flex">
      <input type="url" id="example8" class="block p-4 w-full rounded-full rounded-r-none border border-link-primary" placeholder="Search Courses" />
      <button for="example8" class="rounded-full rounded-l-none -ml-2 border border-l-0 border-link-primary px-6 bg-link-primary text-white hover:bg-link-primary-hover hover:border-link-primary-hover transition-all">
        Search
      </button>
    </div>
  </div> {% endcomment %}
  <h2 class="text-2xl lg:text-4xl font-semibold text-gray-700 mb-4">Courses we offer</h2>
  <div class="">
    <div class="grid grid-cols-1 xl:grid-cols-2 mt-2 xl:space-x-4 text-xl font-light">
      <ul class="space-y-3">
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Master of Information Technology (MIT)</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Master of Business Admistration (MBA)</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Master of Professional Accounting (MPA)</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Graduate Diploma in Information Technolgy</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Graduate Diploma in Management</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Graduate Certificate in Information Technolgy</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Graduate Certificate in Management</a></li>
        </ul>
        <ul class="space-y-3">
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Bachelor of Cyber Security</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Bachelor of Information System</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Bachelor of Business (Accounting)</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Bachelor of Business</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Diploma of Business</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Year 10 High School Program</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">Victorian Certificate of Education (VCE)</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">General English</a></li>
          <li><a href="" class="text-primary hover:text-link-hover border-b border-transparent hover:border-link-hover transition-all">English for Academic Purposes (EAP)</a></li>
        </ul>
    </div>
  </div>
</div>
