<ul class="border border-gray-200">
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#payment_methods" class="block px-4 py-2 text-primary hover:underline transition-all">Payment Methods</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#fees" class="block px-4 py-2 text-primary hover:underline transition-all">Higher Education Fees</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#fees" class="block px-4 py-2 text-primary hover:underline transition-all">High School Fees</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#fees" class="block px-4 py-2 text-primary hover:underline transition-all">Elicos Fees</a>
    </li>
    <li class="border-b border-gray-200 last:border-b-0">
        <a href="#payment_due_dates" class="block px-4 py-2 text-primary hover:underline transition-all">Payment Due Dates</a>
    </li>
    <template x-if="studentType==='domestic'">
        <li class="border-b border-gray-200 last:border-b-0">
            <a href="#fee_help" class="block px-4 py-2 text-primary hover:underline transition-all">Fee Help</a>
        </li>
    </template>
</ul>



