<ul>
    {% comment %} {% if page_type == 'news' %}
        <li class="border border-primary">
            <div class="flex items-center gap-1 px-4 py-2 bg-primary text-white font-medium">
                <span>News</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                    </svg>
                </span>
            </div>
        </li>
    {% else %}
        <li class="border border-gray-200">
            <a href="/news-and-events/news/" class="block px-4 py-2 hover:text-primary font-medium transition-all">News</a>  
        </li>
    {% endif %} {% endcomment %}
    {% if page_type == 'blogs' %}
        <li class="border border-primary">
            <div class="flex items-center gap-1 px-4 py-2 bg-primary text-white font-medium">
                <span>Blogs</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                    </svg>
                </span>
            </div>
        </li>
    {% else %}
        <li class="border border-gray-200">
            <a href="/news-and-events/blogs/" class="block px-4 py-2 hover:text-primary font-medium transition-all">Blogs</a>  
        </li>
    {% endif %}
    {% if page_type == 'events' %}
        <li class="border border-primary">
            <div class="flex items-center gap-1 px-4 py-2 bg-primary text-white font-medium">
                <span>Events</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                    </svg>
                </span>
            </div>
        </li>
    {% else %}
        <li class="border border-gray-200">
            <a href="/news-and-events/events/" class="block px-4 py-2 hover:text-primary font-medium transition-all">Events</a>  
        </li>
    {% endif %}
    
</ul>